<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
    <script src="js/Crud.js"></script>
 

</head>

<style>
.movie-container
{
   padding:100px;
}
.poster
{
    margin:5px;
    float:left;
}
.well
{
    margin:0px;
    width:900px;
}

ul,li
{
    width:900px;
}
</style>
<body>

 <nav class="navbar  navbar-fixed-top navbar-inverse" id="my-navbar">
       <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">

               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
              <a href="" class="navbar-brand">cs5610</a>
          </div>

          
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <a href="Experiments.aspx" class="btn btn-info navbar-btn navbar-right">Experiments</a>
                <ul class=" nav navbar-nav">
                   <li class="active"><a href="../Default.aspx">Home</a></li>
                </ul>
            </div>
       </div>
  </nav>

  <div class="movie-container container" >

  <a href="http://prannoy5610-crazyfunkadelic.rhcloud.com/container.html#/character" class="btn btn-primary">View Demo</a>

  </div>
  </div>



  <div class="summary">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About the Experiment</h3>
  </div>
  <div class="panel-body">
    <pre>
      This experiment is directly related to my
      project.It will let the logged in user run a search
      on characters.For now,I am just using the Marvel API 
      to display 100 charcters but once I am able to
      authenticate the user,I will be adding functionality 
      to search for character profiles and also add characters
      to favourites list.
    </pre>
</div>
 </div>

 <div class="summary">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">HTML5</h3>
  </div>
  <div class="panel-body">
 &lt;body&gt;<br />
<br />
  &lt;div ng-controller=&quot;MarvelController&quot; class=&quot;movie-container container&quot; &gt;<br />
     &lt;div class=&quot;input-group&quot;&gt;<br />
         &lt;input type=&quot;text&quot; placeholder=&quot;Enter a search query&quot; class=&quot;form-control&quot; ng-model=&quot;searchByTitle&quot; /&gt;<br />
         &lt;span class=&quot;input-group-btn&quot;&gt;<br />
         &lt;button class=&quot;btn btn-primary&quot; ng-click=&quot;searchMovies()&quot;&gt;&lt;span class=&quot;glyphicon glyphicon-search&quot; /&gt;&lt;/button&gt;<br />
         &lt;/span&gt;<br />
     &lt;/div&gt;<br />
     <br />
     &lt;/br&gt;<br />
     &lt;/br&gt;<br />
<br />
      &lt;table class=&quot;table&quot;&gt;<br />
            &lt;tr ng-repeat=&quot;char in character&quot;&gt;<br />
              &lt;td&gt;&lt;div&gt;{{char.name}}&lt;/br&gt;<br />
              &lt;img class=&quot;poster&quot; src=&quot;{{char.thumbnail.path}}.{{ char.thumbnail.extension}}&quot; width=&quot;90&quot; height=&quot;90&quot; /&gt;&lt;/div&gt;&lt;/td&gt;<br />
              &lt;td&gt;{{char.description}}&lt;/td&gt;<br />
            &lt;/tr&gt;<br />
         &lt;/table&gt;<br />
       <br />
  &lt;/div&gt;<br />
 <br />
  &lt;/body&gt;
  </div>
</div>
 </div>

 <div class="summary">
    <div class="panel panel-default">
       <div class="panel-heading">
          <h3 class="panel-title">Javascript</h3>
       </div>
     <div class="panel-body">
       <pre>
  angular.module('MarvelApp').controller('MarvelController', ['$scope', '$http', function ($scope, $http) {

    $http.jsonp("http://gateway.marvel.com:80/v1/public/characters?apikey=7c2ea1955f73606dbc9443ac7507c3bf&&callback=JSON_CALLBACK&&limit=100")
.success(function (response) {


    $scope.character = response.data.results;


})

} ]);
     </pre>
      </div>
   </div>
 </div>

 

 

  <div class="summary">

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">References</h3>
  </div>
  <div class="panel-body">
    <pre>

    I referred to professor Jose's video on youtube.Here is the link.
    </pre>
    <a href="https://www.youtube.com/watch?v=Kan1sMNOlIc">Click to View</a>
</div>
 </div>
  
  </div>

  <div class="container">
        <div class="btn-group">
             <a href="../fileview/Default.aspx?~/Week7/partials/characters.html" class="btn btn-primary">View Source HTML</a>
             <a href="../fileview/Default.aspx?~/Week7/js/characters.js" class="btn btn-primary">View Javascript</a>  
             <a href="../fileview/Default.aspx?~/Week7/js/app.js" class="btn btn-primary">Main App JS</a>       
        <div>
  </div>

 
</body>
</html>
