<div class="row" ng-controller="InterestsCtrl">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/music.jpg" alt="...">
      <div class="caption">
        <h3>Music</h3>
        <p>I love listening to music especially while working out.I
        prefer listening to Heavy Metal,Jazz and classic rock.
        My favourite bands include Megadeth,Lamb of God and Arch Enemy</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/workout.jpg" alt="...">
      <div class="caption">
        <h3>Body Building</h3>
        <p>A daily workout is a must for me.It's an
           excellent stress-buster and helps you think
           more clearly apart from making you look and feel
           better.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/reading.jpg" alt="...">
      <div class="caption">
        <h3>Reading</h3>
        <p>I love reading fiction especially A Song Of Fire and Ice 
           and LOTR.Here is a famous saying by Tyrion Lannister
           "My mind needs books as a sword needs a whetstone if it
           is to keep it's edge".</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>
