<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
     <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
       <script src="js/exp2.js"></script>
   <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
    
 

</head>

<style>
.movie-container
{
   padding:100px;
}
.poster
{
    margin:5px;
    float:left;
}
.well
{
    margin:0px;
    width:900px;
}

ul,li
{
    width:900px;
}


</style>
<body>

 <nav class="navbar  navbar-fixed-top navbar-inverse" id="my-navbar">
       <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">

               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
              <a href="" class="navbar-brand">cs5610</a>
          </div>

          
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <a href="Experiments.aspx" class="btn btn-info navbar-btn navbar-right">Experiments</a>
                <ul class=" nav navbar-nav">
                   <li class="active"><a href="../Default.aspx">Home</a></li>
                </ul>
            </div>
       </div>
  </nav>

  <div class="movie-container container" >

   <a href="http://prannoy5610-crazyfunkadelic.rhcloud.com/container.html#/character" class="btn btn-primary">View Demo</a>

  </div>
  


  <div class="summary">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About the Experiment</h3>
  </div>
  <div class="panel-body">
    <pre>
     In this experiment I will teach you how to add zoom
     in over images upon the the mouse hover option.We can enchance user
     experience by animating the images when the user moves the mouse
     over them.In this case I have used the class "poster" along with the img tag.
    </pre>
</div>
 </div>

 <div class="summary">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CSS</h3>
  </div>
  <div class="panel-body">
 <br />
 <pre>
 .poster
{
    transition: all .2s ease-in-out;
    display:block;
   display: inline-block;
    vertical-align: middle;
}
.poster:hover {
    position:relative;
    z-index:999;
    transform: scale(1.50);
    cursor:pointer;
}
 </pre>
  </div>
</div>
 </div>

 


 <div class="summary">
    <div class="panel panel-default">
       <div class="panel-heading">
          <h3 class="panel-title">HTML5</h3>
       </div>
     <div class="panel-body">
       <pre>
  
    &lt;div class=&quot;thumbnail&quot;&gt;<br />
      &lt;img src=&quot;{{hero.thumbnail.path}}.{{ hero.thumbnail.extension}}&quot; class=&quot;poster&quot; alt=&quot;Avengers:Age of Ultron&quot;  height=&quot;120&quot; width=&quot;336&quot;&gt;<br />
      &lt;div class=&quot;caption&quot;&gt;<br />
        &lt;h3&gt;{{hero.name}}&lt;/h3&gt;<br />
        &lt;p&gt;&lt;a  href=&quot;#/portfolio/{{hero.id}}&quot; class=&quot;btn btn-primary&quot; role=&quot;button&quot;&gt;View Profile&lt;/a&gt; &lt;a  ng-if=&quot;loggedin&quot; class=&quot;btn btn-primary2 &quot; ng-click=&quot;addFavourite(hero)&quot; role=&quot;button&quot;&gt;Add Favourite&lt;/a&gt;&lt;/p&gt;<br />
      &lt;/div&gt;<br />
    &lt;/div&gt;

       </pre>
      </div>
   </div>
 </div>


  <div class="summary">

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">References</h3>
  </div>
  <div class="panel-body">
    <pre>

    I referred to professor Jose's video on youtube.Here is the link.
    </pre>
    <a href="https://www.youtube.com/watch?v=Kan1sMNOlIc">Click to View</a>
</div>
 </div>
  
  </div>

   <div id="overlay-for-contacts" >
            <div class="alert alert-info" id="overlay-for-contacts-inside">
            <p class="info"><h4>This is the Demo</h4></p>
            <button type="button" class="btn closebutton btn-default"  value="Close">Close</button>
            </div>
    </div>

   <div class="container">
        <div class="btn-group">
             <a href="../fileview/Default.aspx?~/Week10/partials/characters.html" class="btn btn-primary">View Source HTML</a>
             <a href="../fileview/Default.aspx?~/Week10/css/characters.css" class="btn btn-primary">CSS File</a>         
        <div>  
  </div>

 
</body>
</html>
